<h1 id="introduction"><span class="header-section-number">1</span> Introduction</h1>
<p>In this tutorial we will use OpenAPI to define a RESTful web service and Python to implement it.</p>
<p>The RESTful web service will be using a database to store data.</p>
<p>More specifically the steps of this tutorial are the following:</p>
<ol style="list-style-type: decimal">
<li>Write OpenAPI definition using swaggerhub</li>
<li>Generate the server stubs in Python and implement the logic</li>
<li>Build Test and Publish Docker Image</li>
<li>Write Tests</li>
<li>Deploy Web Service on Kubernetes (microk8s)</li>
</ol>
<h1 id="reporting-and-assessment"><span class="header-section-number">2</span> Reporting and assessment</h1>
<h2 id="reporting"><span class="header-section-number">2.1</span> Reporting</h2>
<p>At the end of this assignment you are expected to submit the following:</p>
<ul>
<li>Each student should write a short report (max 3 pages) with the following structure:
<ul>
<li><strong>Introduction</strong>: List which of the DevOps stages you practiced with this assignment and what are their primary objectives.</li>
<li><strong>OpenAPI Exercises</strong>: Report on the following exercises (for details see on the Section OpenAPI Exercises):</li>
<li>Define Objects</li>
<li>Add Delete method</li>
<li><strong>Docker Exercises (Optional)</strong>: If you choose to integrate an external database report on how you modified your code and Dockerfile to connect to DB.</li>
<li><strong>Question 1</strong>: In the Docker file we use the 'python:3.6-alpine' image as a base image. What are the advantage and advantages of using the Alpine Linux distribution in Docker.</li>
<li><strong>Question 2</strong>: Based on the use case discussion during the lecture, please discuss the advantages and risks of applying agile approach.</li>
</ul></li>
</ul>
<h2 id="assessment"><span class="header-section-number">2.2</span> Assessment</h2>
<hr />
<p><strong>IMPORTANT</strong></p>
<p>In order to be given a grade you must submit the following:</p>
<ul>
<li>Written report (see above for details)</li>
<li>Name of the published docker(s) in <a href="https://hub.docker.com/" class="uri">https://hub.docker.com/</a>. Must be able to perform (docker pull <REPO/NAME>)</li>
<li>Git repository link</li>
<li>If you choose the extra task i.e. the external database integration submit <strong>only</strong> the code using the external database.</li>
<li>If you choose the extra task i.e. the external database integration the testing will be done using the 'docker-compose.yaml' provided below</li>
</ul>
<p><strong>Do not add your code when submitting in Canvas.</strong></p>
<p><strong>All links such as DockerHub and Git must be accessible from the day of submission and onwards.</strong></p>
<hr />
<ul>
<li>If the source code and dockerized service pass all the tests defined in newman you get 70%.</li>
<li>A passing mark will be given if the source code and dockerized service pass tests 1-5 in newman (see Section Write Tests).</li>
<li>The tests will run on the docker created from source i.e. from building the docker file: docker build . and the docker image from your DockerHub account</li>
<li>An extra point will be given for the Docker Exercises i.e. the external database integration</li>
<li>The rest will be determined by your report.</li>
</ul>
<h1 id="background"><span class="header-section-number">3</span> Background</h1>
<h2 id="openapi-and-swagger"><span class="header-section-number">3.1</span> OpenAPI and Swagger</h2>
<p>Swagger is an implementation of OpenAPI. Swagger contains a tool that helps developers design, build, document, and consume RESTful Web services. Applications implemented based on OpenAPI interface files can automatically generate documentation of methods, parameters and models. This helps keep the documentation, client libraries, and source code in sync.</p>
<h2 id="git"><span class="header-section-number">3.2</span> Git</h2>
<p>Git is an open source distributed version control system. Version control helps keep track of changes in a project and allows for collaboration between many developers.</p>
<h2 id="gitlab-cicd"><span class="header-section-number">3.3</span> GitLab CI/CD</h2>
<p>GitLab CI/CD is a tool for software development using the continuous methodologies. Continuous Integration (CI, Continuous Delivery (CD), Continuous Deployment (CD)</p>
<h2 id="docker"><span class="header-section-number">3.4</span> Docker</h2>
<p>Docker performs operating-system-level virtualization, also known as &quot;containerization&quot;. Docker uses the resource isolation features of the Linux kernel to allow independent &quot;containers&quot; to run within a Linux instance.</p>
<h1 id="prepare-your-development-environment"><span class="header-section-number">4</span> Prepare your Development Environment</h1>
<h2 id="gitlab-account"><span class="header-section-number">4.1</span> GitLab Account</h2>
<p>If you don’t have an account already got to https://gitlab-fnwi.uva.nl log in with your UvANetID.</p>
<h2 id="setup-docker-hub"><span class="header-section-number">4.2</span> Setup Docker Hub</h2>
<p>If you don’t have an account already follow these instructions: <a href="https://hub.docker.com/signup" class="uri">https://hub.docker.com/signup</a></p>
<h2 id="swaggerhub-account"><span class="header-section-number">4.3</span> Swaggerhub Account</h2>
<p>If you have GitHub Account you may go to <a href="https://app.swaggerhub.com/login" class="uri">https://app.swaggerhub.com/login</a> and select 'Log In with GitHub'. Alternatively, you can select to sign up.</p>
<h2 id="install-docker-and-docker-compose-on-your-local-machine"><span class="header-section-number">4.4</span> Install Docker and Docker Compose on your Local machine</h2>
<p>You can find instructions on how to install Docker here: <a href="https://docs.docker.com/get-docker/" class="uri">https://docs.docker.com/get-docker/</a>. You may also find a detailed tutorial on Docker here: <a href="https://docker-curriculum.com/" class="uri">https://docker-curriculum.com/</a>.</p>
<p>To test if your installation is running you may test docker by typing:</p>
<pre class="shell"><code>docker run hello-world</code></pre>
<p>You can find instructions on how to install Docker Compose here: <a href="https://docs.docker.com/compose/install/" class="uri">https://docs.docker.com/compose/install/</a>.</p>
<h2 id="install-pycharm"><span class="header-section-number">4.5</span> Install Pycharm</h2>
<p>In this tutorial we will use the Pycharm Integrated Development Environment (IDE). If you have a preferred IDE you are free to use it.</p>
<p>You can find instructions on how to install Pycharm here: <a href="https://www.jetbrains.com/pycharm/download/" class="uri">https://www.jetbrains.com/pycharm/download/</a></p>
<p>If you are using snap you can type:</p>
<pre class="shell"><code>sudo snap install pycharm-community --classic</code></pre>
<p>You may also find a detailed tutorial on Pycharm here: [https://www.jetbrains.com/help/pycharm/creating-and-running-your-first-python-project.html](https://www.jetbrains.com/help/pycharm/creating-and-running-your-first-python-project.html</p>
<h1 id="write-openapi-definition"><span class="header-section-number">5</span> Write OpenAPI Definition</h1>
<p>In this section we will define a web service interface that will support the Create, Read, Update, Delete (CRUD) pattern for manipulating resources using OpenAPI. To get a more in-depth understanding of Swagger and OpenAPI you may follow this tutorial <a href="https://idratherbewriting.com/learnapidoc/openapi_tutorial.html" class="uri">https://idratherbewriting.com/learnapidoc/openapi_tutorial.html</a></p>
<p>Log in to your Swaggerhub account at <a href="https://app.swaggerhub.com/login" class="uri">https://app.swaggerhub.com/login</a> and select 'Create New' -&gt; 'Create New API'</p>
<p><img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/swhub1.png" alt="swagger" width="800"/></p>
<p>Then select version 3.0.0 and 'Template' 'Simple API' and press 'CREATE API'.</p>
<p><img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/swgub2.png" alt="swagger" width="800"/></p>
<p>You will get a OpenAPI template</p>
<p><img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/swgub3.png" alt="swagger" width="800"/></p>
<p>Name your API 'tutorial'.</p>
<p>Replace the definition with the following: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/openAPI/openAPI_1.yaml">openAPI_1.yaml</a></p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">openapi:</span><span class="at"> 3.0.0</span>
<span class="fu">servers:</span>
  <span class="co"># Added by API Auto Mocking Plugin</span>
  <span class="kw">-</span> <span class="fu">description:</span><span class="at"> SwaggerHub API Auto Mocking</span>
    <span class="fu">url:</span><span class="at"> https://virtserver.swaggerhub.com/tutorial/1.0.0</span>
<span class="fu">info:</span>
  <span class="fu">description:</span><span class="at"> This is a simple API</span>
  <span class="fu">version:</span><span class="at"> </span><span class="st">&quot;1.0.0&quot;</span>
  <span class="fu">title:</span><span class="at"> Simple Inventory API</span>
  <span class="fu">contact:</span>
    <span class="fu">email:</span><span class="at"> you@your-company.com</span>
  <span class="fu">license:</span>
    <span class="fu">name:</span><span class="at"> Apache 2.0</span>
    <span class="fu">url:</span><span class="at"> </span><span class="st">&#39;http://www.apache.org/licenses/LICENSE-2.0.html&#39;</span>
<span class="fu">paths:</span>
  <span class="fu">/student/{student_id}:</span>
    <span class="fu">get:</span>
      <span class="fu">summary:</span><span class="at"> gets student</span>
      <span class="fu">operationId:</span><span class="at"> getStudentById</span>
      <span class="fu">description:</span><span class="at"> |</span>
        Returns a single student
      <span class="fu">parameters:</span>
        <span class="kw">-</span> <span class="fu">in:</span><span class="at"> path</span>
          <span class="fu">name:</span><span class="at"> student_id</span>
          <span class="fu">description:</span><span class="at"> the uid</span>
          <span class="fu">required:</span><span class="at"> true</span>
          <span class="fu">schema:</span>
            <span class="fu">type:</span><span class="at"> number</span>
            <span class="fu">format:</span><span class="at"> integer</span>
      <span class="fu">responses:</span>
        <span class="fu">&#39;200&#39;:</span>
          <span class="fu">description:</span><span class="at"> successful operation</span>
          <span class="fu">content:</span>
            <span class="fu">application/json:</span>
              <span class="fu">schema:</span>
                <span class="fu">$ref:</span><span class="at"> </span><span class="st">&#39;#/components/schemas/Student&#39;</span>
        <span class="fu">&#39;400&#39;:</span>
          <span class="fu">description:</span><span class="at"> invalid ID</span>
        <span class="fu">&#39;404&#39;:</span>
          <span class="fu">description:</span><span class="at"> not found</span>
  <span class="fu">/student:</span>
    <span class="fu">post:</span>
      <span class="fu">summary:</span><span class="at"> Add a new student</span>
      <span class="fu">operationId:</span><span class="at"> addStudent</span>
      <span class="fu">description:</span><span class="at"> Adds an item to the system</span>
      <span class="fu">responses:</span>
        <span class="fu">&#39;200&#39;:</span>
          <span class="fu">description:</span><span class="at"> created</span>
          <span class="fu">content:</span>
            <span class="fu">application/json:</span>
              <span class="fu">schema:</span>
                <span class="fu">type:</span><span class="at"> number</span>
                <span class="fu">format:</span><span class="at"> integer</span>
        <span class="fu">&#39;400&#39;:</span>
          <span class="fu">description:</span><span class="at"> </span><span class="st">&#39;invalid input, object invalid&#39;</span>
        <span class="fu">&#39;409&#39;:</span>
          <span class="fu">description:</span><span class="at"> an existing already exists</span>
      <span class="fu">requestBody:</span>
        <span class="fu">content:</span>
          <span class="fu">application/json:</span>
            <span class="fu">schema:</span>
              <span class="fu">$ref:</span><span class="at"> </span><span class="st">&#39;#/components/schemas/Student&#39;</span>
        <span class="fu">description:</span><span class="at"> Student item to add</span></code></pre></div>
<p>You will notice that the editor at the bottom throws some errors:</p>
<pre><code>Errors (3)
Could not resolve reference: #/components/schemas/Student
$refs must reference a valid location in the document
$refs must reference a valid location in the document</code></pre>
<p>Effectively what is said here is that the &quot;#/components/schemas/Student&quot; is not defined. You can find more about '$refs' here: <a href="https://swagger.io/docs/specification/using-ref/" class="uri">https://swagger.io/docs/specification/using-ref/</a></p>
<h2 id="openapi-exercises"><span class="header-section-number">5.1</span> OpenAPI Exercises</h2>
<h3 id="define-objects"><span class="header-section-number">5.1.1</span> Define Objects</h3>
<p>Scroll down to the bottom of the page and create a new node called 'components', a node 'schemas' under that and a node called 'Student' under that. The code should look like this:</p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">components:</span>
  <span class="fu">schemas:</span>
    <span class="fu">Student:</span>
      <span class="fu">type:</span><span class="at"> object</span>
      <span class="fu">required:</span>
        <span class="kw">-</span> first_name
        <span class="kw">-</span> last_name
      <span class="fu">properties:</span>
        ...
    <span class="fu">GradeRecord:</span>
      <span class="fu">type:</span><span class="at"> object</span>
      <span class="fu">required:</span>
        <span class="kw">-</span> subject_name
        <span class="kw">-</span> grade
      <span class="fu">properties:</span>
        ...</code></pre></div>
<p>Define the Student's and GradeRecord object properties.</p>
<p>The Student properties to define are:</p>
<table>
<thead>
<tr class="header">
<th>Property Name</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>student_id</td>
<td>number (integer format)</td>
</tr>
<tr class="even">
<td>first_name</td>
<td>string</td>
</tr>
<tr class="odd">
<td>last_name</td>
<td>string</td>
</tr>
<tr class="even">
<td>gradeRecords</td>
<td>array</td>
</tr>
</tbody>
</table>
<p>The GradeRecord properties to define are:</p>
<table>
<thead>
<tr class="header">
<th>Property Name</th>
<th>Type</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>subject_name</td>
<td>string</td>
</tr>
<tr class="even">
<td>grade</td>
<td>number ( float format, minimum: 0, maximum: 10)</td>
</tr>
</tbody>
</table>
<p>It is useful to add 'example' fields in the properties. That way you API is easier to consume.</p>
<p>You can find details about the 'example' field here: <a href="https://swagger.io/docs/specification/adding-examples/" class="uri">https://swagger.io/docs/specification/adding-examples/</a> You can find details about data models here: <a href="https://swagger.io/docs/specification/data-models/" class="uri">https://swagger.io/docs/specification/data-models/</a></p>
<h3 id="add-delete-method"><span class="header-section-number">5.1.2</span> Add Delete method</h3>
<p>The API definition at the moment only has 'GET' and 'POST' methods. We will add a 'DELETE' method. Under the '/student/{student_id}' path add the following:</p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml">    <span class="fu">delete:</span>
      <span class="fu">summary:</span><span class="at"> gets student</span>
      <span class="fu">operationId:</span><span class="at"> deleteStudent</span>
      <span class="fu">description:</span><span class="at"> |</span>
        delete a single student
      <span class="fu">parameters:</span>
        <span class="kw">-</span> <span class="fu">in:</span><span class="at"> path</span>
          <span class="fu">name:</span><span class="at"> student_id</span>
          <span class="fu">description:</span><span class="at"> the uid</span>
          <span class="fu">required:</span><span class="at"> true</span>
          <span class="fu">schema:</span>
            <span class="fu">type:</span><span class="at"> number</span>
            <span class="fu">format:</span><span class="at"> integer</span>
      <span class="fu">responses:</span>
        ...</code></pre></div>
<p>You will need to fill in the proper responses for 200, 400, and 404. More information about responses can be found here: <a href="https://swagger.io/docs/specification/describing-responses/" class="uri">https://swagger.io/docs/specification/describing-responses/</a></p>
<p>Now that we have the definition completed we can try some mockup calls. Press 'SAVE' and select the POST method and press execute. You should get an example of all the responses.</p>
<h1 id="generate-the-server-stubs"><span class="header-section-number">6</span> Generate the Server Stubs</h1>
<p>Now that we have the OpenAPI definitions we can create the server stub on python. Select 'Export'-&gt;'Server Stub'-&gt; 'python-flask' <img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/swgub6.png" alt="swagger" width="800"/></p>
<p>Save the 'python-flask-server-generated.zip' and unzip the archive. Open Pycharm and open the project by selecting 'File'-&gt;'Open' and select the unzipped folder.</p>
<p><img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/pych1.png" alt="swagger" width="800"/></p>
<p>To create the virtual environment for the project go to 'File'-&gt;'Settings'-&gt;'Project'-&gt;'Python Interpreter'. Then select the gear icon to add a new environment:</p>
<p><img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/pych2.png" alt="swagger" width="800"/></p>
<p>Select 'New environment' and press 'OK' <img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/pych3.png" alt="swagger" width="800"/></p>
<p>Replace the requirements.txt file with the following packages: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/python/requirements.txt">requirements.txt</a></p>
<pre><code>connexion == 2.9.0
python_dateutil == 2.8.2
setuptools &gt;= 21.0.0
swagger_ui_bundle == 0.0.9
tinydb==4.5.2</code></pre>
<p>Open the '<strong>main</strong>.py' file and select from the top 'install requirements' to install the packages specified in the requirements.txt file</p>
<p><img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/pych4.png" alt="swagger" width="800"/></p>
<p>Press Run to start the flask server: <img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/pych5.png" alt="swagger" width="800"/></p>
<p>The UI API of your service will be in <a href="http://localhost:8080/tutorial/1.0.0/ui/" class="uri">http://localhost:8080/tutorial/1.0.0/ui/</a>. This is the same as the path defined in the OpenAPI definition in the section 'servers':</p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">openapi:</span><span class="at"> 3.0.0</span>
<span class="fu">servers:</span>
  <span class="co"># Added by API Auto Mocking Plugin</span>
  <span class="kw">-</span> <span class="fu">description:</span><span class="at"> SwaggerHub API Auto Mocking</span>
    <span class="fu">url:</span><span class="at"> https://virtserver.swaggerhub.com/tutorial/1.0.0</span></code></pre></div>
<p>You should see a similar page as the mockup in swaggerhub. Press 'Try it out': <img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/pych6.png" alt="swagger" width="800"/></p>
<p>The response body should be: &quot;do some magic!&quot;</p>
<p>In Pycharm if you open the 'default_controller.py' file, you'll see that the method 'add_student' returns the string &quot;do some magic!&quot;.</p>
<h2 id="create-git-repository-and-commit-the-code"><span class="header-section-number">6.1</span> Create Git Repository and Commit the Code</h2>
<p>Create a git repository. Go to the directory of the code and initialize the git repository and push the code:</p>
<pre class="shell"><code>git init
git add .
git commit -m &quot;first commit&quot;
git remote add origin &lt;REPOSETORY_URL&gt;
git push -u origin master</code></pre>
<p>More information on git can be found here: <a href="https://phoenixnap.com/kb/how-to-use-git" class="uri">https://phoenixnap.com/kb/how-to-use-git</a></p>
<h2 id="implement-the-logic"><span class="header-section-number">6.2</span> Implement the logic</h2>
<p>In Pycharm create a package named 'service'. To do that right click on the 'swagger_server' package select 'New'-&gt; 'Python Package' and enter the name 'service' <img src="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/week1/images/pych7.png" alt="swagger" width="800"/></p>
<p>Inside the service package create a new python file named 'student_service'</p>
<p>In the student_service add the following code: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/python/student_servcie.py">student_service.py</a></p>
<div class="sourceCode"><pre class="sourceCode python"><code class="sourceCode python"><span class="im">import</span> os
<span class="im">import</span> tempfile

<span class="im">from</span> tinydb <span class="im">import</span> TinyDB, Query
<span class="im">from</span> tinydb.middlewares <span class="im">import</span> CachingMiddleware
<span class="im">from</span> functools <span class="im">import</span> <span class="bu">reduce</span>

<span class="im">from</span> swagger_server.models <span class="im">import</span> Student

db_dir_path <span class="op">=</span> tempfile.gettempdir()
db_file_path <span class="op">=</span> os.path.join(db_dir_path, <span class="st">&quot;students.json&quot;</span>)
student_db <span class="op">=</span> TinyDB(db_file_path)


<span class="kw">def</span> add(student<span class="op">=</span><span class="va">None</span>):
    queries <span class="op">=</span> []
    query <span class="op">=</span> Query()
    queries.append(query.first_name <span class="op">==</span> student.first_name)
    queries.append(query.last_name <span class="op">==</span> student.last_name)
    query <span class="op">=</span> <span class="bu">reduce</span>(<span class="kw">lambda</span> a, b: a <span class="op">&amp;</span> b, queries)
    res <span class="op">=</span> student_db.search(query)
    <span class="cf">if</span> res:
        <span class="cf">return</span> <span class="st">&#39;already exists&#39;</span>, <span class="dv">409</span>

    doc_id <span class="op">=</span> student_db.insert(student.to_dict())
    student.student_id <span class="op">=</span> doc_id
    <span class="cf">return</span> student.student_id


<span class="kw">def</span> get_by_id(student_id<span class="op">=</span><span class="va">None</span>, subject<span class="op">=</span><span class="va">None</span>):
    student <span class="op">=</span> student_db.get(doc_id<span class="op">=</span><span class="bu">int</span>(student_id))
    <span class="cf">if</span> <span class="kw">not</span> student:
        <span class="cf">return</span> <span class="st">&#39;not found&#39;</span>, <span class="dv">404</span>
    student[<span class="st">&#39;student_id&#39;</span>] <span class="op">=</span> student_id
    <span class="bu">print</span>(student)
    <span class="cf">return</span> student


<span class="kw">def</span> delete(student_id<span class="op">=</span><span class="va">None</span>):
    student <span class="op">=</span> student_db.get(doc_id<span class="op">=</span><span class="bu">int</span>(student_id))
    <span class="cf">if</span> <span class="kw">not</span> student:
        <span class="cf">return</span> <span class="st">&#39;not found&#39;</span>, <span class="dv">404</span>
    student_db.remove(doc_ids<span class="op">=</span>[<span class="bu">int</span>(student_id)])
    <span class="cf">return</span> student_id</code></pre></div>
<p>Now you can add the corresponding methods in the 'default_controller.py'. To do that add in the top of the file:</p>
<div class="sourceCode"><pre class="sourceCode python"><code class="sourceCode python"><span class="im">from</span> swagger_server.service.student_servcie <span class="im">import</span> <span class="op">*</span></code></pre></div>
<p>And the 'add_student' student method now becomes:</p>
<div class="sourceCode"><pre class="sourceCode python"><code class="sourceCode python"><span class="kw">def</span> add_student(body<span class="op">=</span><span class="va">None</span>):  <span class="co"># noqa: E501</span>
    <span class="co">&quot;&quot;&quot;Add a new student</span>

<span class="co">    Adds an item to the system # noqa: E501</span>

<span class="co">    :param body: Student item to add</span>
<span class="co">    :type body: dict | bytes</span>

<span class="co">    :rtype: float</span>
<span class="co">    &quot;&quot;&quot;</span>
    <span class="cf">if</span> connexion.request.is_json:
        body <span class="op">=</span> Student.from_dict(connexion.request.get_json())  <span class="co"># noqa: E501</span>
        <span class="cf">return</span> add(body)
    <span class="cf">return</span> <span class="dv">500</span>,<span class="st">&#39;error&#39;</span></code></pre></div>
<p>Do the same for the rest of the methods.</p>
<p>In general, it is a good idea to write application using layered architecture. By segregating an application into tiers, a developer can modify or add a layer, instead of reworking the entire application.</p>
<p>This is why we should create a new package in the code called 'service' and a python file named 'student_service.py'. In this code template we use a simple file-based database to store and query data called TinyDB.</p>
<p>More information on TinyDB can be found here: <a href="https://tinydb.readthedocs.io/en/latest/getting-started.html" class="uri">https://tinydb.readthedocs.io/en/latest/getting-started.html</a> Now the 'default_controller.py' just needs to call the service's methods.</p>
<hr />
<p><strong>NOTE</strong></p>
<p>Don't forget to regularly commit and push your code.</p>
<hr />
<h1 id="build-test-and-publish-docker-image"><span class="header-section-number">7</span> Build Test and Publish Docker Image</h1>
<p>You can now build your web service as a Docker image DockerHub. To do that open the Dockerfile in the Pycharm project.</p>
<p>and update the python version from:</p>
<div class="sourceCode"><pre class="sourceCode dockerfile"><code class="sourceCode dockerfile"><span class="kw">FROM</span> python:3.6-alpine</code></pre></div>
<p>To:</p>
<div class="sourceCode"><pre class="sourceCode dockerfile"><code class="sourceCode dockerfile"><span class="kw">FROM</span> python:3.8-alpine</code></pre></div>
<p>So the Dockerfile will look like this: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/docker/Dockerfile">Dockerfile</a></p>
<div class="sourceCode"><pre class="sourceCode dockerfile"><code class="sourceCode dockerfile"><span class="kw">FROM</span> python:3.8-alpine

<span class="kw">RUN</span> mkdir -p /usr/src/app
<span class="kw">WORKDIR</span> /usr/src/app

<span class="kw">COPY</span> requirements.txt /usr/src/app/

<span class="kw">RUN</span> pip3 install --no-cache-dir -r requirements.txt

<span class="kw">COPY</span> . /usr/src/app

<span class="kw">EXPOSE</span> 8080

<span class="kw">ENTRYPOINT</span> [<span class="st">&quot;python3&quot;</span>]

<span class="kw">CMD</span> [<span class="st">&quot;-m&quot;</span>, <span class="st">&quot;swagger_server&quot;</span>]</code></pre></div>
<p>Open a new terminal in the location of the Dockerfile and type:</p>
<pre class="shell"><code>docker build --tag &lt;REPO_NAME&gt;/student_service .</code></pre>
<p>If the above command is not working you may need to used sudo.</p>
<p>Now test the image:</p>
<pre class="shell"><code>docker run -it -p 8080:8080 &lt;REPO_NAME&gt;/student_service</code></pre>
<hr />
<p><strong>NOTE</strong></p>
<p>Don't forget to stop the server from PyCharm otherwise you'll get an error:</p>
<p><code>shell  docker: Error response from daemon: driver failed programming external connectivity on   endpoint trusting_joliot (8cbc8523e15eb68f343d048ab59a9e6d): Error starting userland proxy:   listen tcp4 0.0.0.0:8080: bind: address already in use.  ERRO[0001] error waiting for container: context canceled</code></p>
<hr />
<p>Login to docker hub to push the created image by typing:</p>
<pre class="shell"><code>docker login</code></pre>
<p>Now push the image:</p>
<pre class="shell"><code>docker push &lt;REPO_NAME&gt;/student_service</code></pre>
<p>More information on how to build and publish Docker images can be found here: <a href="https://docker-curriculum.com/" class="uri">https://docker-curriculum.com/</a></p>
<h2 id="docker-exercises"><span class="header-section-number">7.1</span> Docker Exercises</h2>
<h3 id="database-integration-optional"><span class="header-section-number">7.1.1</span> Database Integration (Optional)</h3>
<p>The code provided above uses an internal database called TinyDB. Change the code so that your service<br />
saves data in an mongoDB. This includes configuration files for the database endpoint database names the Dockerfile itself etc.</p>
<p>For testing your code locally use this docker-compose.yaml file: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/docker/docker-compose.yaml">docker-compose.yaml</a></p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">version:</span><span class="at"> </span><span class="st">&#39;3&#39;</span>
<span class="fu">services:</span>
  <span class="fu">student_service:</span>
    <span class="fu">image:</span><span class="at"> &lt;REPO_NAME&gt;/student_service</span>
    <span class="fu">restart:</span><span class="at"> unless-stopped</span>
    <span class="fu">depends_on:</span>
      <span class="kw">-</span> mongo
    <span class="fu">environment:</span>
      <span class="fu">MONGO_URI:</span><span class="at"> mongodb://mongo:27017</span>
    <span class="fu">ports:</span>
      <span class="kw">-</span> <span class="st">&quot;8080:8080&quot;</span>

  <span class="fu">mongo:</span>
    <span class="fu">restart:</span><span class="at"> unless-stopped</span>
    <span class="fu">image:</span><span class="at"> mongo:4</span>
    <span class="fu">ports:</span>
      <span class="kw">-</span> <span class="st">&quot;27017:27017&quot;</span></code></pre></div>
<p>Make sure you replace <REPO_NAME> with your own.</p>
<hr />
<p><strong>NOTE</strong></p>
<p>The docker-compose.yaml file above will be also used to run the postman tests during grading.</p>
<hr />
<p>If you need to install Docker Compose you can follow the instructions here: <a href="https://docs.docker.com/compose/install/." class="uri">https://docs.docker.com/compose/install/.</a></p>
<h1 id="write-tests"><span class="header-section-number">8</span> Write Tests</h1>
<p>Before writing the tests in Gitlab you need to create a token in Docker hub. To do that follow these instructions: <a href="https://docs.docker.com/docker-hub/access-tokens/" class="uri">https://docs.docker.com/docker-hub/access-tokens/</a></p>
<p>Next you need to add you Docker hub and token to your Gitlab project variables. To create variables follow these instructions <a href="https://docs.gitlab.com/ee/ci/variables/#add-a-cicd-variable-to-a-project" class="uri">https://docs.gitlab.com/ee/ci/variables/#add-a-cicd-variable-to-a-project</a>.</p>
<p>You need to create two variables one named REGISTRY_USERNAME and one REGISTRY_PASSWORD.</p>
<p>Therefore, you need to run the above instructions twice. First time the name of the secret will be REGISTRY_USERNAME and second will be REGISTRY_PASSWORD.</p>
<p>In your code directory create a new folder named 'postman'. In the new 'postman' folder add these files: * <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/postman/postman_collection.json">postman_collection.json</a> * <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/postman/postman_environment.json">postman_environment.json</a></p>
<p>To be able to run tests in gitlab-fnwi.uva.nl you'll need to install runners to your project. To do that follow these instructions: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/blob/main/gitlab/HowToAddRunners.md">HowToAddRunners</a></p>
<p>Make sure your code in the Git repository is uptodate. Go to the repository and page create a new file. On set the name of the file as:</p>
<pre><code>.gitlab-ci.yml</code></pre>
<p>Set the contents of your file as: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/gitlab/.gitlab-ci.yml">.gitlab-ci.yml</a></p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">variables:</span>
  <span class="fu">IMAGE_NAME:</span><span class="at"> service</span>
  <span class="fu">GITHUB:</span><span class="at"> &lt;REPO_NAME&gt;</span>
  <span class="fu">IMAGE_ID:</span><span class="at"> $GITHUB/$IMAGE_NAME</span>

<span class="fu">stages:</span><span class="at">        </span>
  <span class="kw">-</span> build
  <span class="kw">-</span> test
  <span class="kw">-</span> push

<span class="fu">build-docker:</span><span class="at"> </span>
  <span class="fu">stage:</span><span class="at"> build</span>
  <span class="fu">script:</span>
    <span class="kw">-</span> echo <span class="st">&quot;Building image&quot;</span>
    <span class="kw">-</span> sudo docker build . -t $IMAGE_ID
    <span class="kw">-</span> sudo docker images

<span class="fu">postman_tests:</span>
    <span class="fu">stage:</span><span class="at"> test</span>
    <span class="fu">before_script:</span>
      <span class="kw">-</span> <span class="fu">sudo docker run -d -e 8080:</span><span class="at">8080 -host=172.17.0.2 --name service $IMAGE_ID </span>
      <span class="kw">-</span> sleep 5
    <span class="fu">script:</span>
        <span class="kw">-</span> newman --version
        <span class="kw">-</span> newman run  postman/postman_collection.json -e postman/postman_environment.json
    <span class="fu">after_script:</span>
        <span class="kw">-</span> sudo docker stop service
        <span class="kw">-</span> sudo docker rm service

<span class="fu">push-job:</span>
  <span class="fu">stage:</span><span class="at"> push  </span>
  <span class="fu">before_script:</span>
    <span class="kw">-</span> sudo docker login -u $DOCKER_USERNAME -p $DOCKER_TOKEN
  <span class="fu">script:</span>
    <span class="kw">-</span> sudo docker push $IMAGE_ID 
  <span class="fu">after_script:</span>
      <span class="kw">-</span> sudo docker logout
      <span class="kw">-</span> sudo docker rmi $IMAGE_ID</code></pre></div>
<h1 id="deploy-web-service-on-kubernetes-microk8s"><span class="header-section-number">9</span> Deploy Web Service on Kubernetes (microk8s)</h1>
<h2 id="install-microk8s"><span class="header-section-number">9.1</span> Install microk8s</h2>
<p>If you have access to a Kubernetes cluster you may skip this step</p>
<p>You can find microk8s installation instructions: <a href="https://microk8s.io/" class="uri">https://microk8s.io/</a></p>
<p>If you have access to a cloud VM you may install microk8s there. Alternatively you may also use VirtualBox: <a href="https://www.virtualbox.org/wiki/Downloads" class="uri">https://www.virtualbox.org/wiki/Downloads</a></p>
<p>After you complete the installation make sure you start microk8s and enable DNS</p>
<pre class="shell"><code>microk8s start
microk8s enable dns</code></pre>
<h2 id="test-k8s-cluster"><span class="header-section-number">9.2</span> Test K8s Cluster</h2>
<p>This is a basic Kubernetes deployment of Nginx. On the master node create a Nginx deployment:</p>
<pre class="shell"><code>microk8s kubectl create deployment nginx --image=nginx</code></pre>
<p>You may check your Nginx deployment by typing:</p>
<pre class="shell"><code>microk8s kubectl get all</code></pre>
<p>The output should look like this:</p>
<pre class="shell"><code>NAME                         READY   STATUS              RESTARTS   AGE
pod/nginx-6799fc88d8-wttct   0/1     ContainerCreating   0          6s

NAME                 TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
service/kubernetes   ClusterIP   10.96.0.1    &lt;none&gt;        443/TCP   134d

NAME                    READY   UP-TO-DATE   AVAILABLE   AGE
deployment.apps/nginx   0/1     1            0           7s

NAME                               DESIRED   CURRENT   READY   AGE
replicaset.apps/nginx-6799fc88d8   1         1         0       7s</code></pre>
<p>You will notice in the first line 'ContainerCreating'. This means that the K8s cluster is downloading and starting the Nginx container. After some minutes if you run again:</p>
<pre class="shell"><code>microk8s kubectl get all</code></pre>
<p>The output should look like this:</p>
<pre class="shell"><code>NAME                         READY   STATUS    RESTARTS   AGE
pod/nginx-6799fc88d8-wttct   1/1     Running   0          39s

NAME                 TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
service/kubernetes   ClusterIP   10.96.0.1    &lt;none&gt;        443/TCP   134d

NAME                    READY   UP-TO-DATE   AVAILABLE   AGE
deployment.apps/nginx   1/1     1            1           40s

NAME                               DESIRED   CURRENT   READY   AGE
replicaset.apps/nginx-6799fc88d8   1         1         1       40s</code></pre>
<p>At this point Nginx is running on the K8s cluster, however it is only accessible from within the cluster. To expose Nginx to the outside world we should type:</p>
<pre class="shell"><code>microk8s kubectl create service nodeport nginx --tcp=80:80</code></pre>
<p>To check your Nginx deployment type:</p>
<pre class="shell"><code>microk8s kubectl get all</code></pre>
<p>You should see the among others the line:</p>
<pre class="shell"><code>service/nginx        NodePort    10.98.203.181   &lt;none&gt;        80:30155/TCP   6s</code></pre>
<p>This means that port 80 is mapped on port 30155 of each node in the K8s cluster.</p>
<hr />
<p><strong>NOTE</strong></p>
<p>The mapped port will be different on your deployment. Now we can access Nginx from http://IP:NODE_PORT.</p>
<hr />
<p>You may now delete the Nginx service by using:</p>
<pre class="shell"><code>microk8s kubectl delete service/nginx</code></pre>
<h2 id="deploy-web-service-on-k8s-cluster"><span class="header-section-number">9.3</span> Deploy Web Service on K8s Cluster</h2>
<p>To deploy a RESTful Web Service on the K8s Cluster log in the K8s Cluster create a folder named 'service' and add this file in the folder: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/k8s/student_service.yaml">student_service.yaml</a></p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">apiVersion:</span><span class="at"> v1</span>
<span class="fu">kind:</span><span class="at"> Service</span>
<span class="fu">metadata:</span>
  <span class="fu">labels:</span>
    <span class="fu">io.kompose.service:</span><span class="at"> service</span>
  <span class="fu">name:</span><span class="at"> service</span>
<span class="fu">spec:</span>
  <span class="fu">type:</span><span class="at"> NodePort</span>
  <span class="fu">ports:</span>
  <span class="kw">-</span> <span class="fu">port:</span><span class="at"> 8080</span>
    <span class="fu">protocol:</span><span class="at"> TCP</span>
    <span class="fu">name:</span><span class="at"> http</span>
  <span class="fu">selector:</span>
    <span class="fu">io.kompose.service:</span><span class="at"> service</span>
<span class="ot">---</span>
<span class="fu">apiVersion:</span><span class="at"> apps/v1</span>
<span class="fu">kind:</span><span class="at"> Deployment</span>
<span class="fu">metadata:</span>
  <span class="fu">annotations:</span>
    <span class="fu">kompose.cmd:</span><span class="at"> kompose convert</span>
    <span class="fu">kompose.version:</span><span class="at"> 1.16.0 (0c01309)</span>
  <span class="fu">creationTimestamp:</span><span class="at"> </span><span class="dt">null</span>
  <span class="fu">labels:</span>
    <span class="fu">io.kompose.service:</span><span class="at"> service</span>
  <span class="fu">name:</span><span class="at"> service</span>
<span class="fu">spec:</span>
  <span class="fu">selector:</span>
    <span class="fu">matchLabels:</span>
      <span class="fu">io.kompose.service:</span><span class="at"> service</span>
  <span class="fu">replicas:</span><span class="at"> 1</span>
  <span class="fu">template:</span>
    <span class="fu">metadata:</span>
      <span class="fu">creationTimestamp:</span><span class="at"> </span><span class="dt">null</span>
      <span class="fu">labels:</span>
        <span class="fu">io.kompose.service:</span><span class="at"> service</span>
    <span class="fu">spec:</span>
      <span class="fu">containers:</span>
      <span class="kw">-</span> <span class="fu">env:</span>
        <span class="kw">-</span> <span class="fu">name:</span><span class="at"> MONGO_URI</span>
          <span class="fu">value:</span><span class="at"> mongodb://mongo:27017</span>
        <span class="fu">image:</span><span class="at"> IMAGE_NAME</span>
        <span class="fu">name:</span><span class="at"> service</span>
        <span class="fu">imagePullPolicy:</span><span class="at"> Always</span>
        <span class="fu">ports:</span>
        <span class="kw">-</span> <span class="fu">containerPort:</span><span class="at"> 8080</span>
        <span class="fu">resources:</span><span class="at"> </span><span class="kw">{}</span>
      <span class="fu">restartPolicy:</span><span class="at"> Always</span>
<span class="fu">status:</span><span class="at"> </span><span class="kw">{}</span></code></pre></div>
<p>Open 'student_service.yaml' and replace the line:</p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">image:</span><span class="at"> IMAGE_NAME</span></code></pre></div>
<p>with the name of your image as typed in the docker push command.</p>
<p>If you chose to integrate with an extremal database you will need to add the Deployment and service for MongoDB: <a href="https://gitlab-fnwi.uva.nl/skoulou1/devops-material/-/raw/main/k8s/mongodb.yaml">mongodb.yaml</a></p>
<div class="sourceCode"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span class="fu">apiVersion:</span><span class="at"> v1</span>
<span class="fu">kind:</span><span class="at"> Service</span>
<span class="fu">metadata:</span>
  <span class="fu">annotations:</span>
    <span class="fu">kompose.cmd:</span><span class="at"> kompose --file docker-compose.yml convert</span>
    <span class="fu">kompose.version:</span><span class="at"> 1.16.0 (0c01309)</span>
  <span class="fu">labels:</span>
    <span class="fu">io.kompose.service:</span><span class="at"> mongo</span>
  <span class="fu">name:</span><span class="at"> mongo</span>
<span class="fu">spec:</span>
  <span class="fu">ports:</span>
  <span class="kw">-</span> <span class="fu">name:</span><span class="at"> </span><span class="st">&quot;27017&quot;</span>
    <span class="fu">port:</span><span class="at"> 27017</span>
    <span class="fu">targetPort:</span><span class="at"> 27017</span>
  <span class="fu">selector:</span>
    <span class="fu">io.kompose.service:</span><span class="at"> mongo</span>
<span class="ot">---</span>
<span class="fu">apiVersion:</span><span class="at"> apps/v1</span>
<span class="fu">kind:</span><span class="at"> Deployment</span>
<span class="fu">metadata:</span>
  <span class="fu">annotations:</span>
    <span class="fu">kompose.cmd:</span><span class="at"> kompose convert</span>
    <span class="fu">kompose.version:</span><span class="at"> 1.16.0 (0c01309)</span>
  <span class="fu">labels:</span>
    <span class="fu">io.kompose.service:</span><span class="at"> mongo</span>
  <span class="fu">name:</span><span class="at"> mongo</span>
<span class="fu">spec:</span>
  <span class="fu">selector:</span>
    <span class="fu">matchLabels:</span>
      <span class="fu">io.kompose.service:</span><span class="at"> mongo</span>
  <span class="fu">replicas:</span><span class="at"> 1</span>
  <span class="fu">template:</span>
    <span class="fu">metadata:</span>
      <span class="fu">labels:</span>
        <span class="fu">io.kompose.service:</span><span class="at"> mongo</span>
    <span class="fu">spec:</span>
      <span class="fu">containers:</span>
      <span class="kw">-</span> <span class="fu">image:</span><span class="at"> mongo:4</span>
        <span class="fu">name:</span><span class="at"> mongo</span>
      <span class="fu">restartPolicy:</span><span class="at"> Always</span></code></pre></div>
<p>To create all the deployments and services type in the K8s folder:</p>
<pre class="shell"><code>microk8s kubectl apply -f .</code></pre>
<p>This should create the my-temp-service deployments and services. To see what is running on the cluster type:</p>
<pre class="shell"><code>microk8s kubectl get all</code></pre>
<p>You should see something like this:</p>
<pre class="shell"><code>NAME                           READY   STATUS    RESTARTS   AGE
pod/nginx-6799fc88d8-q7hzv     1/1     Running   0          21m
pod/service-6c75dff7db-57sw5   1/1     Running   0          53s

NAME                 TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)          AGE
service/kubernetes   ClusterIP   10.152.183.1     &lt;none&gt;        443/TCP          26m
service/service      NodePort    10.152.183.176   &lt;none&gt;        8080:30726/TCP   53s

NAME                      READY   UP-TO-DATE   AVAILABLE   AGE
deployment.apps/nginx     1/1     1            1           21m
deployment.apps/service   1/1     1            1           53s

NAME                                 DESIRED   CURRENT   READY   AGE
replicaset.apps/nginx-6799fc88d8     1         1         1       21m
replicaset.apps/service-6c75dff7db   1         1         1       53s
</code></pre>
<p>Note that in this output 'service/service' is mapped to 30726. In your case it may be a different number.</p>
<p>Now your service should be available on http://IP:NODE_PORT/</p>
